#head   {
    font-family: "Changa One";
    font-size: 1.5rem;
}

.font-title {
    font-family: "Changa One";
    color: #D7D7D7;
}

.p-text {
    color: #D7D7D7;
    text-align: justify;
}

.foot-text  {
    color: #D7D7D7;
    font-family: sans-serif;
    font-size: 1rem;
}

.h-15   {
    height: 8rem;
}

.dark-blue   {
    background-color: #273F4F;
}

.light-blue {
    background-color: #447D9B;
}

.orange  {
    background-color: #FE7743;
}

.light-gray {
    background-color: #D7D7D7;
}

.flex-container {
    display: flex;
    height: 100vh;
    background-color: azure;
}

.content-row-margin  {
    margin-right: 20%;
    margin-left: 20%;
}

@media (max-width: 767px) {
    .rounded-end-sm-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}

@media (max-width:1400px)   {
    .content-row-margin   {
        margin-right: 25%;
        margin-left: 25%;
    }
}